<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Medicalist Demo - A responsive HTML template for Hospitals, Clinics, Medicine Agencies, Dentists, Surgeons and Doctors</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<!-- Styles -->
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
	<link rel="stylesheet" href="css/icons.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="css/color.css" />
</head>
<body>
<div class="theme-layout">

<div class="pageloader">
      <div class="loader">
        <div class="loader-inner ball-scale-ripple-multiple">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>	
</div><!-- Pageloader -->


<div class="responsive-header">
	<div class="responsive-topbar">
		<div class="responsive-topbar-info">
			<div class="active"><i class="icon-telephone"></i><p><i class="icon-telephone"></i><strong>Call Us Today!</strong>  (732) 431-1616-01</p></div>
			<div><i class="icon-envelope2"></i><p><i class="icon-envelope2"></i><strong>Email!</strong>  youremail@yourdomain.com</p></div>
		</div><!-- Topbar Info -->

		<div class="topbar-social-search">
			<div class="responsive-social">
				<a href="#" title=""><i class="fa fa-twitter"></i></a>
				<a href="#" title=""><i class="fa fa-facebook"></i></a>
				<a href="#" title=""><i class="fa fa-google-plus"></i></a>
				<a href="#" title=""><i class="fa fa-linkedin"></i></a>
			</div>
			<form>
				<input type="text" placeholder="Enter Your Search" />
				<button><i class="fa fa-search"></i></button>
			</form>
		</div>
	</div><!-- Responsive Topbar -->
	<div class="responsive-menu">
		<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>		
		<div class="responsive-menu-btns">
			<a class="call-popup popup1" href="#" title=""><i class="fa fa-user-md"></i> Get Free Consultation</a>
			<a class="open-menu" href="#" title=""><i class="fa fa-list"></i></a>
		</div>
	</div><!-- Responsive Menu -->

	<div class="responsive-links">
		<span><i class="fa fa-remove"></i></span>
		<ul>
			<li><a href="index.html" title="">Home</a>
				<ul>
					<li><a href="index.html" title="">Home Page 1</a></li>					
					<li><a href="index2.html" title="">Home Page 2</a></li>
					<li><a href="index3.html" title="">Home Page 3</a></li>
					<li><a href="index4.html" title="">Home Page 4</a></li>
				</ul>			
			</li>
			<li><a href="#" title="">Features</a>
				<ul>
					<li>
						<a href="#" title="">Header Styles</a>
						<ul>
							<li><a href="header1.html" title="">Header Style 1</a></li>
							<li><a href="header2.html" title="">Header Style 2</a></li>
							<li><a href="header3.html" title="">Header Style 3</a></li>
							<li><a href="header4.html" title="">Header Style 4</a></li>
							<li><a href="header5.html" title="">Header Style 5</a></li>
						</ul>
					</li>							
					<li><a href="sidebar.html" title="">Sidebar & Footer Widgets</a></li>
					<li><a href="dark-footer.html" title="">Dark Footer</a></li>
					<li><a href="light-footer.html" title="">Light Footer</a></li>
					<li><a href="index-boxed.html" title="">Boxed Layout</a></li>
					<li><a href="loaders.html" title="">Loader Styles</a></li>

				</ul>			
			</li>					
			<li><a href="#" title="">Pages</a>
				<ul>
					<li><a href="real-stories.html" title="">Real Stories</a>
						<ul>
							<li><a href="real-stories.html" title="">Stories Style 1</a></li>
							<li><a href="real-stories2.html" title="">Stories Style 2</a></li>
							<li><a href="story-detail.html" title="">Story Detail Page</a></li>
						</ul>
					</li>
					<li><a href="departments.html" title="">Department Page</a>
						<ul>
							<li><a href="department-detail.html" title="">Department Detail</a></li>
						</ul>
					</li>
					<li><a href="events.html" title="">Events Page</a>
						<ul>
							<li><a href="event-detail.html" title="">Event Detail</a></li>
						</ul>
					</li>
					<li><a href="service.html" title="">Service</a>
						<ul>
							<li><a href="service-detail.html">Service Detail</a></li>
						</ul>
					</li>
					<li><a href="staff.html" title="">Team Page</a>
						<ul>
							<li><a href="staff-detail.html">Team Detail</a></li>
						</ul>
					</li>
					<li><a href="faqs.html" title="">FAQ'S Page</a></li>
					<li><a href="refer.html" title="">Refer A Patient</a></li>
					<li><a href="insurance.html" title="">Insurance Page</a></li>
					<li><a href="appointment.html" title="">Appointment Page</a></li>
					<li><a href="calendar.html" title="">Calendar</a></li>
					<li><a href="login-register.html" title="">Login & Register</a></li>
					<li><a href="timetable.html" title="">Doctor's Timetable</a></li>
				</ul>			
			</li>
			<li><a href="blog.html" title="">Blog</a>
				<ul>
					<li><a href="blog.html" title="">Blog Style 1</a></li>
					<li><a href="blog2.html" title="">Blog Style 2</a></li>
					<li><a href="blog-detail.html" title="">Blog Detail Page</a></li>
				</ul>
			</li>					
			<li><a href="gallery1.html" title="">Gallery Pages</a>
				<ul>
					<li><a href="gallery1.html" title="">Gallery Page 1</a></li>
					<li><a href="gallery2.html" title="">Gallery Page 2</a></li>
					<li><a href="gallery3.html" title="">Gallery Page 3</a></li>
					<li><a href="gallery4.html" title="">Gallery Page 4</a></li>
					<li><a href="gallery5.html" title="">Gallery Page 5</a></li>
					<li><a href="gallery6.html" title="">Gallery Page 6</a></li>
				</ul>
			</li>
			<li><a href="product.html" title="">Shop</a>
				<ul>
					<li><a href="product.html" title="">Products Page</a></li>					
					<li><a href="product-detail.html" title="">Product Detail Page</a></li>
					<li><a href="cart.html" title="">Cart Page</a></li>
					<li><a href="checkout.html" title="">Checkout Page</a></li>
				</ul>			
			</li>
			<li><a href="about.html" title="">About Page</a></li>					
			<li><a href="contact.html" title="">Contact</a></li>
		</ul>
	</div><!-- Responsive Links -->
</div><!-- Responsive Header -->

<header class="stick">
	<div class="topbar style2">
		<div class="container">
			<ul class="topbar-info">
				<li><i class="icon-telephone2"></i> <strong>Call Us Today!</strong>  (732) 431-1616-01</li>
				<li><i class="icon-envelope"></i> <strong>Email:</strong>  webinane@yoursite.com</li>
			</ul>
			<div class="social-icons">
				<a class="facebook" title="" href="#"><i class="fa fa-facebook"></i></a>
				<a class="linkedin" title="" href="#"><i class="fa fa-linkedin"></i></a>
				<a class="twitter" title="" href="#"><i class="fa fa-twitter"></i></a>
				<a class="skype" title="" href="#"><i class="fa fa-skype"></i></a>
			</div>
			<div class="topbar-btn"><a class="call-popup popup1" href="#" title=""><i class="fa fa-user"></i> Get Free Consultation</a></div>
		</div>
	</div><!-- Topbar -->
	<div class="menu-bar-height"></div>
	<div class="menu-bar">
		<div class="container">
			<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
			<nav class="menu">
				<ul>
					<li><a href="index.html" title="">Home</a>
						<ul>
							<li><a href="index.html" title="">Home Page 1</a></li>					
							<li><a href="index2.html" title="">Home Page 2</a></li>
							<li><a href="index3.html" title="">Home Page 3</a></li>
							<li><a href="index4.html" title="">Home Page 4</a></li>
						</ul>			
					</li>
					<li><a href="#" title="">Features</a>
						<ul>
							<li>
								<a href="#" title="">Header Styles</a>
								<ul>
									<li><a href="header1.html" title="">Header Style 1</a></li>
									<li><a href="header2.html" title="">Header Style 2</a></li>
									<li><a href="header3.html" title="">Header Style 3</a></li>
									<li><a href="header4.html" title="">Header Style 4</a></li>
									<li><a href="header5.html" title="">Header Style 5</a></li>
								</ul>
							</li>							
							<li><a href="sidebar.html" title="">Sidebar & Footer Widgets</a></li>
							<li><a href="dark-footer.html" title="">Dark Footer</a></li>
							<li><a href="light-footer.html" title="">Light Footer</a></li>
							<li><a href="index-boxed.html" title="">Boxed Layout</a></li>
					<li><a href="loaders.html" title="">Loader Styles</a></li>
						</ul>			

					</li>					
					<li><a href="#" title="">Pages</a>
						<ul class="mega">
							<li><a href="real-stories.html" title="">Real Stories</a>
								<ul>
									<li><a href="real-stories.html" title="">Stories Style 1</a></li>
									<li><a href="real-stories2.html" title="">Stories Style 2</a></li>
									<li><a href="story-detail.html" title="">Story Detail Page</a></li>
								</ul>
							</li>
							<li><a href="departments.html" title="">Department Page</a>
								<ul>
									<li><a href="department-detail.html" title="">Department Detail</a></li>
								</ul>
							</li>
							<li><a href="events.html" title="">Events Page</a>
								<ul>
									<li><a href="event-detail.html" title="">Event Detail</a></li>
								</ul>
							</li>
							<li><a href="service.html" title="">Service</a>
								<ul>
									<li><a href="service-detail.html">Service Detail</a></li>
								</ul>
							</li>
							<li><a href="staff.html" title="">Team Page</a>
								<ul>
									<li><a href="staff-detail.html">Team Detail</a></li>
								</ul>
							</li>
							<li><a href="faqs.html" title="">FAQ'S Page</a></li>
							<li><a href="refer.html" title="">Refer A Patient</a></li>
							<li><a href="insurance.html" title="">Insurance Page</a></li>
							<li><a href="appointment.html" title="">Appointment Page</a></li>
							<li><a href="calendar.html" title="">Calendar</a></li>
							<li><a href="login-register.html" title="">Login & Register</a></li>
   					        <li><a href="timetable.html" title="">Doctor's Timetable</a></li>
						</ul>			
					</li>
					<li><a href="blog.html" title="">Blog</a>
						<ul>
							<li><a href="blog.html" title="">Blog Style 1</a></li>
							<li><a href="blog2.html" title="">Blog Style 2</a></li>
							<li><a href="blog-detail.html" title="">Blog Detail Page</a></li>
						</ul>
					</li>					
					<li><a href="gallery1.html" title="">Gallery Pages</a>
						<ul>
							<li><a href="gallery1.html" title="">Gallery Page 1</a></li>
							<li><a href="gallery2.html" title="">Gallery Page 2</a></li>
							<li><a href="gallery3.html" title="">Gallery Page 3</a></li>
							<li><a href="gallery4.html" title="">Gallery Page 4</a></li>
							<li><a href="gallery5.html" title="">Gallery Page 5</a></li>
							<li><a href="gallery6.html" title="">Gallery Page 6</a></li>
						</ul>
					</li>
					<li><a href="product.html" title="">Shop</a>
						<ul>
							<li><a href="product.html" title="">Products Page</a></li>					
							<li><a href="product-detail.html" title="">Product Detail Page</a></li>
							<li><a href="cart.html" title="">Cart Page</a></li>
							<li><a href="checkout.html" title="">Checkout Page</a></li>
						</ul>			
					</li>
					<li><a href="about.html" title="">About Page</a></li>					
					<li><a href="contact.html" title="">Contact</a></li>
				</ul>

			</nav>
		</div>
	</div><!-- Menu Bar -->
</header><!-- Header -->



<div class="pagetop">
	<div class="container">
		<span>What We Actually Do?</span>
		<h1><span>MEDICALIST</span> LIGHT FOOTER</h1>
		<ul>
			<li><a href="index.html" title="">Home</a></li>
			<li>Light Footer</li>
		</ul>
	</div>
</div>


<footer class="light">
	<div class="block">
		<span class="footer-decoration top"></span>
		<span class="footer-decoration bottom"></span>
		<div class="container">
			<div class="row">
				<div class="col l3 m6 s12">
					<div class="widget">
						<div class="widget-title">
							<h4>gynecology <span>Atlanta</span></h4>
							<span>Provide Comprehensive</span>
						</div>
						<div class="about-widget">
							<p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<div class="social-icons">
								<a href="#" title=""><i class="fa fa-facebook"></i></a>
								<a href="#" title=""><i class="fa fa-linkedin"></i></a>
								<a href="#" title=""><i class="fa fa-twitter"></i></a>
								<a href="#" title=""><i class="fa fa-skype"></i></a>
							</div>
						</div>
					</div><!-- Widget -->
				</div>
				<div class="col l3 m6 s12">
					<div class="widget">
						<div class="widget-title">
							<h4>helpful <span>links</span></h4>
							<span>Provide Comprehensive</span>
						</div>
						<ul>
							<li><a href="service-detail.html" title=""> Short-term Hospitalization</a></li>
							<li><a href="service-detail.html" title=""> Emergency room services</a></li>
							<li><a href="service-detail.html" title=""> general and specialty surgical services</a></li>
							<li><a href="service-detail.html" title=""> x ray/radiology services</a></li>
							<li><a href="service-detail.html" title=""> laboratory services</a></li>
							<li><a href="service-detail.html" title=""> blood services</a></li>
						</ul>						
					</div><!-- Widget -->
				</div>
				<div class="col l3 m6 s12">
					<div class="widget">
						<div class="widget-title">
							<h4>Opening <span>Hours</span></h4>
							<span>Provide Comprehensive</span>
						</div>
						<div class="opening">
							<div class="timing"><span>Monday</span><i>8am to 7 pm</i></div>
							<div class="timing"><span>Tuesday</span><i>8am to 7 pm</i></div>
							<div class="timing"><span>Wednesday</span><i>8am to 7 pm</i></div>
							<div class="timing"><span>Thursday</span><i>8am to 7 pm</i></div>
							<div class="timing"><span>Friday</span><i>8am to 7 pm</i></div>
						</div>
					</div><!-- Widget -->
				</div>
				<div class="col l3 m6 s12">
					<div class="widget">
						<div class="gallery-widget">
							<div class="row">
								<div class="col l6 m3 s6"><img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="http://placehold.it/600x600" alt="" /></div>
								<div class="col l6 m3 s6"><img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="http://placehold.it/600x600" alt="" /></div>
								<div class="col l6 m3 s6"><img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="http://placehold.it/600x600" alt="" /></div>
								<div class="col l6 m3 s6"><img class="materialboxed" data-caption="A picture of some deer and tons of trees" src="http://placehold.it/600x600" alt="" /></div>
							</div>
						</div>
					</div><!-- Widget -->
				</div>
			</div>
		</div>

		<div class="newsletter">
			<div class="container">
				<div class="widget-title">
					<h4>Signup <span>Newsletter</span></h4>
					<span>Provide Comprehensive</span>
				</div>			
				<form>
					<input type="text" placeholder="Enter Your Email Address" />
					<button type="submit">SIGN UP NOW</button>
				</form>
			</div>
		</div>
	</div>
</footer><!-- Footer -->

<div class="bottom-footer">
	<div class="container">
		<p><a href="#" title=""> Medicalist Clinic © 1995-2016.</a> All Rights Reserved. </p>
		<ul>
			<li><a href="index.html" title="">Home</a></li>
			<li><a href="service.html" title="">Medical Services</a></li>
			<li><a href="appointment.html" title="">Find a Physician</a></li>
			<li><a href="contact.html" title="">Contact Us</a></li>
			<li><a href="staff.html" title="">Professionals</a></li>
		</ul>
	</div>
</div>



	

</div>

<div class="popup">
	<div class="popup-container">
		<div class="popup-wrapper">
			<span class="close-all-popup"><i class="fa fa-close"></i></span>
			<div class="has-popup-content popup1">
				<div class="consultaion-popup">

					<div class="consult-contact">
						<i class="icon-telephone"></i>
						<p>Please be patient while waiting for response.<strong>(24/7 Support!)</strong> Phone General Inquiries:</p>
						<strong>+1 (022) 319 2687</strong>
					</div>

					<div class="appointment-form">
						<div class="creative-title">
							<i>Provide Comprehensive Quality Care</i>
							<h4>Get Free Consulations</h4>
							<span>Questions Or Inquiries</span>
						</div>
						<form>
							<div class="row">
								<div class="input-field col s12">
									<input type="text" placeholder="Complete Name" />
								</div>							
								<div class="input-field col s12">
									<input type="email" placeholder="Email Address" />
								</div>							
								<div class="input-field col s12">
									<input type="text" placeholder="Subject" />
								</div>	
								<div class="input-field col s12">
									<textarea placeholder="Description"></textarea>
								</div>
								<div class="input-field col s12">
									<button type="submit"><i class="fa fa-user-md"></i> COntact Us Now</button>
								</div>
							</div>
						</form>
					</div>
				</div><!-- Consultation Popup -->
			</div>

			<div class="has-popup-content popup2">
				<div class="appointment-popup">
					<div class="appointment-tab style2">
						<div class="row">
							<div class="col s12 m12 l6">
								<div class="appointment-details">
									<span>Provide Comprehensive</span>
									<h4>Make An <span>Appointment</span></h4>
									<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam adipiscing elit orem.</p>
									<h5 class="subtitle">OPENING HOURS</h5>
									<div class="opening">
										<div class="timing"><span>Monday- Friday</span><i>8am to 7pm</i></div>
										<div class="timing"><span>Saturday</span><i>10am to 4pm</i></div>
										<div class="timing"><span>Sunday</span><i>Closed</i></div>
									</div>												
								</div><!-- Appointment Details -->
							</div>
							<div class="col s12 m12 l6">
								<div class="appointment-form">
									<form>
										<div class="row">
											<div class="input-field col s12">
												<select>
													<option value="" disabled selected>Select Your Country</option>
													<option value="1">Option 1</option>
													<option value="2">Option 2</option>
													<option value="3">Option 3</option>
												</select>
											</div>							
											<div class="input-field col s12">
												<select>
													<option value="" disabled selected>Choose Service</option>
													<option value="1">Option 1</option>
													<option value="2">Option 2</option>
													<option value="3">Option 3</option>
												</select>
											</div>							
											<div class="input-field col s12">
												<select>
													<option value="" disabled selected>Select Doctor</option>
													<option value="1">Option 1</option>
													<option value="2">Option 2</option>
													<option value="3">Option 3</option>
												</select>
											</div>	
											<div class="input-field simple-label col s12 l6 m6">
												<label>DATE FROM *</label>
											</div>
											<div class="input-field date-icon col s12 l6 m6">
												<input type="date" class="datepicker" placeholder="Choose Date" />
											</div>
											<div class="input-field simple-label col s12 l6 m6">
												<label>DESIRABLE TIME *</label>
											</div>
											<div class="input-field col s12 l6 m6">
												<select>
													<option value="" disabled selected>Select Time</option>
													<option value="1">01:00 AM</option>
													<option value="2">05:00 PM</option>
													<option value="3">09:00 PM</option>
												</select>
											</div>																		
											<div class="col s12">
												<p>All Fields With An ( * ) Are Required.</p>
											</div>
											<div class="input-field col s12">
												<button type="submit"><i class="fa fa-recycle"></i> Check Now</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div><!-- Appointment Popup -->
			</div>

			<div class="has-popup-content popup3">
				<div class="gift-popup">
					<div class="send-gift">
						<div class="mockup"><img src="images/mockup3.png" alt="" /></div>
						<div class="gift-popup-text">
							<i>Provide Comprehensive Quality Care</i>
							<h3>Send Your Gift</h3>
							<span>Care Health</span>
							<p>Suspendisse metus blandit sed dolor quis, comiodo commodo elit mollis ligula eget.</p>
							<div class="facny-btn-set">
								<a class="color1" href="#" title="">
									<i class="fancy-icon icon-telephone"></i>
									<strong>(021) 987-234-56</strong>
									<i>Call Us Everyday</i>
								</a>
								<a class="color2" href="#" title="">
									<i class="fancy-icon icon-doctor"></i>
									<strong>Ask Us To Collect</strong>
									<i>Call Us Everyday</i>
								</a>
								<a class="color3" href="#" title="">
									<i class="fancy-icon icon-home"></i>
									<span>3200 Barbaros Bulvarı Istanbul</span>
								</a>
							</div>
						</div>
					</div>
				</div><!-- Gift Popup -->
			</div>

			<div class="has-popup-content popup4">
				<div class="event-registration">
					<div class="event-popup-top">
						<div class="event-popup-title">
							<i>whats going on there come and learn</i>
							<h3>about event <span>Registration</span></h3>
						</div>
						<div class="event-info">
							<div class="event-cell half"><i class="fa fa-key"></i>245 Tickets</div>
							<div class="event-cell half"><i class="fa fa-key"></i>Jan 17-19, 2015</div>
							<div class="event-cell"><i class="fa fa-key"></i>3200 Barbaros Bulvarı Besiktas/Istanbul, TR</div>
						</div>
					</div>

					<div class="appointment-form center">
						<form>
							<div class="row">
								<div class="input-field col s12 m12 l4">	
									<input type="text" placeholder="Complete Name" />
								</div>					
								<div class="input-field col s12 m12 l4">	
									<input type="email" placeholder="Email Address" />
								</div>					
								<div class="input-field col s12 m12 l4">	
									<input type="text" placeholder="Phone Number" />
								</div>					
								<div class="input-field col s12">
									<button type="submit"><i class="fa fa-paper-plane"></i> Register Now</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>	

			<div class="has-popup-content popup5">
				<div class="cash-popup">
					<div class="cash-popup-inner">
						<span>Provide Comprehensive Quality Care</span>
						<h4>Send Us Cash Gift <span>Care Health</span></h4>
						<p>Suspendisse metus blandit sed dolor quis, comiodo <br/> commodo elit mollis ligula eget.</p>
						<form>
							<div class="row">
								<div class="col s12 m12 offset-l3 l6 ">
									<select>
										<option>Select Your Currency</option>
										<option>Currency 1</option>
										<option>Currency 2</option>
										<option>Currency 3</option>
										<option>Currency 4</option>
										<option>Currency 5</option>
									</select>
								</div>
								<div class="select-donate-price">
									<strong>How much would you like to Donate?</strong>
									<span class="button-set">
										<a href="#" title="">.00</a>
										<a class="active" href="#" title="">.00</a>
										<a href="#" title="">.00</a>
										<a href="#" title="">.00</a>
									</span>
									<span class="other-amount">
										<textarea placeholder="Enter The Amout You Want"></textarea>
									</span>
								</div><!-- Select Donate Price -->
								<div class="select-type">
									<strong>Select Your Payment Type</strong>
									<span class="button-set">
										<a href="#" title="">Reccurring</a>
										<a class="active" href="#" title="">One Time Payment</a>
									</span>
								</div><!-- Select Type -->
								<div class="select-option">
									<strong>Select Your Payment Option</strong>
									<span class="button-set">
										<a href="#" title="">Credit Card</a>
										<a class="active" href="#" title=""> Banking Transfer</a>
										<a href="#" title="">Paypal</a>
									</span>
									<p>In Case of credit card ,Transaction in Doller($) will be accepted.</p>
									<div class="row">
										<div class="col s12 m12 offset-l3 l6">
											<input type="text" placeholder="Enter your 16 digit card number:" />
										</div>
										<div class="col s12 m12 offset-l3 l6">
											<select>
												<option>Month Of Expiry</option>
												<option>Januray</option>
												<option>Feburary</option>
												<option>March</option>
												<option>April</option>
											</select>
										</div>
										<div class="col s12 m12 offset-l3 l6">
											<select>
												<option>Month Of Expiry</option>
												<option>Januray</option>
												<option>Feburary</option>
												<option>March</option>
												<option>April</option>
											</select>
										</div>
										<div class="col s12 m12 offset-l3 l6">
											<input type="text" placeholder="Card Verification Number" />
										</div>
									</div>
								</div><!-- Select Type -->
								<div class="personal-detail">
									<strong>Personal Detail</strong>
									<div class="row">
										<div class="col s12 m12 l6">
											<input type="text" placeholder="First Name" />
										</div>
										<div class="col s12 m12 l6">
											<input type="text" placeholder="Last Name" />
										</div>
										<div class="col s12 m12 l6">
											<input type="email" placeholder="Email Ids" />
										</div>
										<div class="col s12 m12 l6">
											<input type="text" placeholder="Phone Number" />
										</div>
										<div class="col s12 m12 l12">
											<input type="text" placeholder="Address" />
										</div>
										<div class="col s12 m12 l12">
											<textarea placeholder="Detail"></textarea>
										</div>
										<div class="col s12 m12 l12">
											<button class="dark-btn">Donate Now</button>
										</div>
										
									</div>
								</div>
							</div>
						</form>
					</div>
				</div><!-- Cash Popup -->
			</div>		
		
		</div>
	</div>
</div><!-- Popup -->




	<script src="js/jquery.min.js" type="text/javascript"></script>
	<script src="js/materialize.min.js" type="text/javascript"></script>
	<script src="js/enscroll-0.5.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.poptrox.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/script.js" type="text/javascript"></script>
</body>
</html>